@use "../../styles/abstracts/index" as *;

.containerUserForm {
  @include formStyles;

  legend {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 25px;
    width: 100%;
  }
  fieldset {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
    label,
    input,
    select {
      width: 100%;
    }
  }
}
