@use "../../styles/abstracts/index" as *;

.containerClientForm {
  @include formStyles;

  &_headerForm {
    margin-bottom: 25px;
    line-height: 150%;
    legend {
      font-weight: 600;
    }
  }
  form {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    fieldset {
      display: flex;
      width: 100%;
      align-items: center;
      gap: 15px;
      margin-bottom: 25px;
      label,
      input,
      select,
      textarea {
        width: 100%;
      }
    }
  }
}
