//Colores principales
$colorPrimary: #0a4645;
$colorSecondary: #0a3635;
$colorBgPrimary: #f3f2f7;
$colorBgSecondary: #ffffff;
//Color font- line
$colorLine: rgba($colorSecondary, 0.15);
$colorFont: $colorSecondary;

//Tipografia
$fontFamily: "Poppins", serif;

//Colores extras gradient:
$colorTertiary: #0a3a39;
$colorQuaternary: #0a3e3d;
$colorQuinary: #0a4241;
$colorSenary: #0a4645;
